<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style>
{% include 'styles.html' %}
</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1 class="text-center site-title">{{ site_title }}</h2>
                </div>
            </div>
            <div class="row nav">
                <div class="col-md-12 col-sm-12">
                    <ul>
                        <li><a{% if index is defined %} class="active"{% endif %} href="/">Home</a></li>
                    {% for m in menu %}
                        <li><a{% if page and '/' + page.path == menu.get(m) %} class="active"{% endif %} href="{{ menu.get(m) }}">{{ m }}</a>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
