{% extends 'base.html' %}
{% block title %}Home - {{ domain }}{% endblock %}
{% block content %}
{% if category %}
    <h2>Category: {{ category }}</h2>
{% endif %}
<div class="post-links">
{% for post in paginator.page() %}
    <h3><a href="/posts/{{ post.slug }}.html">{{ post.title }}</a></h3>
    <div class="date">{{ post.get_pretty_date() }}</div>
{% endfor %}
</div>
<div class="pagination">
    {% if paginator.has_previous() %}
        <a href="/{{ paginator.previous_page() }}">Previous</a>
    {% endif %}
    {% if paginator.has_previous() and paginator.has_next() %}
        &middot;
    {% endif %}
    {% if paginator.has_next() %}
        <a href="/{{ paginator.next_page() }}">Next</a>
    {% endif %}
</div>
{% endblock %}
